# Node
node_modules/
npm-debug.log
yarn-error.log
dist/
build/

# Environment
.env
.env.*

# Docker
docker-compose.override.yml
.docker/
*.log

# Kubernetes
*.yaml.backup
*.yml.backup

# VS Code
.vscode/

# OS / Temp
.DS_Store
Thumbs.db
